.fizzbuzz {
  max-width: 60%;

  label {
    margin-right: 1em;
  }

  input {
    margin: 1em 0;
    width: 2.5em;
  }

  h2 {
    font-size: 1.3em;
    margin: 1em 0;
    font-weight: 600;
  }

  p {
    margin: 1em 0;
  }
}
