.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
  border-bottom: 1px solid gray;

  .problems {
    display: flex;

    li {
      margin: 0 1em;
    }
  }

  a {
    text-decoration: none;
    font-size: 1.5em;
  }
}
