@import './reset.scss';
@import './components/';
@import './pages/';

body {
  font-family: courier, arial, helvetica;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
